body {
    background-color: #161819;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 300px;
    margin-right: 300px;
}

.calculator {
    display: flex;
    justify-content: left;
    margin-top: 100px;/*ЭТО УБРАТЬ ПОТОМ*/
}

.input-calculator {
    border: 0;
    padding: 10px 20px 10px 20px;
    width: 800px;
    border-radius: 3px;
}

.file-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.file-name {
    color: white;
}

.input-calculator-number {
    border: 0;
    padding: 10px 20px 10px 20px;
    width: 200px;
    border-radius: 3px;
    margin-right: 10px;
}

.button-calculate {
    background-color: green;
    border: 0;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 30px;
    padding: 20px 20px 20px 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 128, 0, 0.671);
    }

    &:active {
        opacity: 50%;
    }
}

.statistics-container {
    border: white solid 2px;
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.stat-display {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.stat-item {
    display: flex;
    gap: 10px;
}

.stat-text-label {
    color: white;
}

.income {
    color: green;
    font-weight: bold;
}

.expenses {
    color: red;
    font-weight: bold;
}

.history-container {
    color: white;

    margin-top: 30px;
}

.history-item {
    display: flex;
    align-items: center;
    border: solid 3px white;
    padding: 20px;
}



footer {
    margin-top: 540px; /*ЭТО УБРАТЬ ПОТОМ*/
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}