/*TODO Удалить header и сделать вместо него side-nav*/
.header {
    background-color: #12161e;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    margin-left: 30px;
}

.logo{
    height: 50px;
}

.right-side {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.nav-url-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.nav-url {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}