aside {
    width: 280px;
    background-color: #121417;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

.aside-top {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 50px;
}

.logo-container {
    padding: 30px 20px;
    text-align: center;
}

.nav-url-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    transition: 0.3s;
    border-left: 4px solid transparent;
    text-decoration: none;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
        background-color: rgba(255, 152, 0, 0.1);
        border-left: 3px solid #ff9800;
    }
}

.nav-url {
    text-decoration: none !important;
    color: #ccc;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}

.nav-url-container:hover .nav-url {
    color: white;
}

.auth {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .hamburger-btn {
        display: flex !important;
    }

    aside {
        position: fixed;
        left: -280px;
        top: 0;
        width: 280px;
        height: 100vh;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    aside.active {
        left: 0;
    }
}