.nav-url-container {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    transition: 0.3s;
    border-left: 4px solid transparent;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active {
        background-color: rgba(255, 152, 0, 0.1);
        border-left: 3px solid #ff9800;
    }
}

.nav-url {
    text-decoration: none;
    color: #ccc;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}

.nav-url-container:hover .nav-url {
    color: white;
}

aside {
    width: 280px;
    background-color: #121417;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    height: 100vh;
}

.logo{
    height: 50px;
}

.logo-container {
    padding: 30px 20px;
    text-align: center;
}