body {
    background-color: #161819;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
}

main {
    padding: 40px;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
}

.content-wrapper {
    margin-left: 280px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.clocks {
    display: flex;
    justify-content: space-between;
}

.timer {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
}

.timer-control {
    display: block;
}

.timer button {
    margin: 5px;
}

.time {
    margin-bottom: 5px;
}

.title-timer {
    color:#fab824;
}

.start {
    padding: 10px 30px;
    background-color: green;
    border: 0;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 128, 0, 0.765);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 128, 0, 0.565);
        cursor: pointer;
    }
}

.stop {
    padding: 10px 30px;
    background-color: red;
    border: 0;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(255, 0, 0, 0.71);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(255, 0, 0, 0.51);
        cursor: pointer;
    }
}

.reset {
    padding: 10px 30px;
    background-color: blue;
    border: 0;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 0, 255, 0.765);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 0, 255, 0.520);
        cursor: pointer;
    }
}