body {
    background-color: #161819;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
}

html {
    height: 100%;
}

main {
    padding: 40px;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    margin: 0;
}

.content-wrapper {
    margin-left: 280px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.calculator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.input-calculator {
    border: 0;
    padding: 20px;
    flex-grow: 1;
    min-width: 300px;
    width: 120px;
    border-radius: 4px;
}

.file-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.file-label {
  display: inline-block;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.file-name {
    color: white;
}

.input-calculator-number {
    border: 0;
    padding: 20px;
    width: 150px;
    border-radius: 3px;
    margin-right: 10px;
    outline: none;
}

.button-calculate {
    background-color: green;
    border: 0;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 30px;
    padding: 20px 20px 20px 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 128, 0, 0.671);
    }

    &:active {
        opacity: 50%;
    }
}

.statistics-container {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.green-border {
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.1);
}

.red-border {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.stat-display {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.stat-item {
    display: flex;
    gap: 10px;
}

.stat-text-label {
    color: white;
    font-size: 20px;
}

.income {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.expenses {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.clean-income-expenses {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.history-container {
    color: white;
    margin-top: 30px;
}

.history-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;

    &:hover{
        transform: translateX(5px);
    }
}

.comment-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: right;
}

.delete-btn {
    margin-left: 20px;
    background-color: red;
    border: 0;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(255, 0, 0, 0.736);
    }

    &:active {
        background-color: rgba(255, 0, 0, 0.537);
    }
}

.edit-btn {
    background-color: blue;
    border: 0;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 0, 255, 0.73);
    }

    &:active {
        background-color: rgba(0, 0, 255, 0.53);
    }
}



footer {
    background-color: #161819;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #666;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    margin-top: auto;
    text-align: center;
}

.—Åopyright {
    text-align: center;
}